html, body {
    height: 100%;
}

.fill {
    height: 100%;
    min-height: 100%;
}

.main {
    background-color: #95a5a6;
}

.list {
    background-color: #bdc3c7;
}

.button {
    margin-top: 10px;
}

.botButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.wrapperList {
    margin-top: 10px;
}

.enterGame{
    cursor: pointer;
    background-color: #3498db;
}

.error{
    color : red;
}

.colList {
    height: 50%;
}

.listUsers {
    overflow : auto;
    height: 80%;
}

.textChat {
    height: 69%;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 5px;
    border-radius: 5px;
    overflow: auto;
}

.canvas {
    background-color: #fff;
}