<div class="col-md-8 fill main">
    <h1 class="text-center">Bienvenue sur le pictionnary</h1>
</div>

<div class="col-md-4 fill list">
    <input class="form-control" ng-model="name" placeholder="nom joueur">

    <div ng-show="error" class="error">pas de nom de joueur</div>

    <div class="wrapperList">
        <form>
            <fieldset>
                <legend>Liste des parties :</legend>
                <ul class="list-group">
                    <li class="list-group-item enterGame" ng-show="games" ng-repeat="game in games"
                        ng-click="enterGame(game.index)">Game :
                        {{game.name}} Theme : {{game.theme}}
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>

    <div class="wrapperList" ng-show="isCreateGame">
        <form>
            <fieldset>
                <legend>Création d'une partie :</legend>
                <input class="form-control" ng-model="game.name" placeholder="nom partie">
                <input class="form-control" ng-model="game.theme" placeholder="theme">

                <button class="btn btn-success button" ng-click="createGame()">Creer</button>
                <button class="btn btn-danger button" ng-click="isCreateGame = false">Fermer</button>
            </fieldset>
        </form>
    </div>

    <button ng-click="isCreateGame = true" class="btn btn-default botButton">Creation partie</button>
</div>
